doctype html

//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    body
    nav#navbar
        ul
            div#logo 
                img(src="/static/dance logo2.png")
                | PRDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introSection
        div Welcome to My Online Dance Academy
        div.small Eat Sleep Dance Repeat! 

    section#missionSection
        h2 Our Mission
        div.card
          h4 Dance Teaching for beginners
           div.card-box
                div.card-img
                    img(src="/static/beginer.jpg")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
          h4 Dance Teaching for Mediocres
           div.card-box
                div.card-img
                    img(src="/static/mediocre.jpg")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
          h4 Dance Teaching for Experts
           div.card-box
                div.card-img
                    img(src="/static/expert.jpg")
                div.card-content
                    p This is the best dance academy of the universe

    section#sponsorsSection
        h2 Our Sponsers
        div
        #sponsers 
        img(src="/static/sponsor1.jpg",class="spImage")
        img(src="/static/sponsor2.jpg",class="spImage")
        img(src="/static/sponsor3.jpg",class="spImage")
        img(src="/static/sponsor4.png",class="spImage")

    footer#footer
        | Copyright © 2021 PRDanceAcademy.com | All Rights Reserved

    script
      include ../static/index.js