 /* Css Reset */
 *{
    margin: 0;
    padding: 0;
}

/* Css Variables */
:root{
    --navbar-height:59px
}

/* Navigation  Bar */

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .4;
}

/* Navigation  Bar: Logo and Image*/
#logo{
    margin:10px 12px;
}

#logo img{
    height: 65px;
    margin: 10px 22px
}


/* Navigation  Bar: List And Styling*/

#navbar ul{
    display: flex;
    
}
#navbar ul li{

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: bold;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    
    display: flex;
    flex-direction: column;
    height: 570px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('../img/bg5.jpg') no-repeat center center/cover;
    position: absolute;
    height: 670px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .65;
}
#home h1{
    color: rgb(42, 41, 46);
    text-align: center;   
    
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    
}
/* Services Section */

#services{
    margin: 10px;
    display: flex;
    
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 10px;
    border-radius: 28px;
    background-color: rgb(240, 232, 232);
}
#services .box img{
    height: 120px;
    display: block;
    margin: auto;
    
}

/* Client Section */

#client-section{
    position: relative;
    height:400px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/bg9.jpg');
    width: 100%;
    height: 407px;
    z-index: -1;
    opacity: 2;
}
#clients{
    display:flex ;
    justify-content: center;
    align-items: center;
}
#clients img{
   height: 123px;
}
.client-item{
    padding: 34px;
}

/* Contact Section */
#contact{
    height: 124px;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
    background: url('../img/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box form label{
   font-size: 1.3rem;
}
/* Utility Class */

.h-primary{
    font-size: 3.8rem;
    padding: 39px;
    margin: 6px;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 17px 17px;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color:white ;
    color: black;
}
.center{
    text-align: center;
}
